<!-- IF S_RH_TOPICTAGS_INCLUDE_NG_TAGS_INPUT -->
	<!-- IF S_ALLOW_CDN -->
		<!-- INCLUDEJS //ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js -->
	<!-- ELSE -->
		<!-- INCLUDEJS @robertheim_topictags/angular.min.js -->
	<!-- ENDIF -->

	<!-- IF 0 -->
		The ng-tags-input 2.1.1 has a serious bug regarding regex modifiers. We
		implemented a custom workaround as version 2.1.1-1, shipped with this
		extension. There exists a PR on GitHub:
		 https://github.com/mbenford/ngTagsInput/issues/278
		which was still not merged when this extension was released. However,
		ng-tags-input is now at v3.2.0 and supposedly has fixed this bug. So we
		should update the whole lib and provide CDN for 3.2.0, e.g.:
		INCLUDEJS //cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.2.0/ng-tags-input.min.js
	<!-- ENDIF -->
	<!-- INCLUDEJS @robertheim_topictags/ng-tags-input.2.1.1-1.workaroundissue278.min.js -->

	<!-- INCLUDEJS @robertheim_topictags/taginput.app.js -->
<!-- ENDIF -->
